<%= form_with(model: note, local: true, class: 'card p-2') do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label 'Titilo' %>
    <%= form.text_field :title, id: :note_title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label 'Conteúdo' %>
    <%= form.text_area :content, id: :note_content, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label 'Data' %>
    <%= form.date_field :date, id: :note_date, class: 'form-control', type: 'date' %>
  </div>

  <div class="field form-group">
    <%= form.label 'Prioridade' %>
    <select name="note[priority]" class='form-control' selected='<%= @note.priority %>'>
      <% Note.priority_to_list.each do |p, v| %>
        <option value="<%= v %>" <%= 'selected' if v == @note.priority %>><%= p %></option>
      <% end  %>
    </select>
  </div>

  <div class="actions">
    <%= link_to 'Voltar', notes_path, class: 'btn btn-danger' %>
    <button class='btn btn-success'>Criar Nota</button>
  </div>
<% end %>
