<div class='col-sm-4'>
  <div class='card card-primary'>
    <div class='card-header'>
      <h4><%= note.title %></h4>
      <small>Prioridade: <span class='badge bg-<%= note.priority_to_c %>'><%= note.priority_to_s %></span></small>
    </div>
    <div class='card-body m-0 p-0 pl-2 pr-2' style='overflow-y: auto; height: 120px;'>
      <p><%= simple_format note.content %></p>
    </div>
    <div class='card-footer'>
      <%= link_to 'Editar', edit_note_path(note), class: 'btn btn-primary' %>
      <%= link_to 'Apagar', note, class: 'btn btn-danger', method: :delete, data: { confirm: 'Excluir nota?' } %>
      <p class='text-right'><small><%= l note.date %></small></p>
    </div>
  </div>
</div>
