<% unless notice.blank? %>
<div class="alert alert-warning" role="alert">
  <%= notice %>
</div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Minhas notas</h1>

      <div class='row'>
        <div class='col-sm-12 align-self-start'>
          <%= form_with(remote: true, class: 'card', action: notes_path, method: :get) do |form| %>
            <div class='card-body'>
              <div class='row'>
                <div class='col-sm-4'>
                  <div class='form-group'>
                    <%= form.label 'Título' %>
                    <%= form.text_field :title, class: 'form-control' %>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <div class='form-group'>
                    <%= form.label 'Conteúdo' %>
                    <%= form.text_field :content, class: 'form-control' %>
                  </div>
                </div>
                <div class='col-sm-2'>
                  <div class='form-group pt-2'>
                    <button class='btn btn-primary font-weight-bold mt-4'>Buscar</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class='row'>
        <div class='col'>
          <h2>Notas</h2>
        </div>
        <div class='col'>
          <%= link_to 'Nova nota', new_note_path, class: 'btn btn-primary font-weight-bold' %>
        </div>
      </div>
      <div class='row' id="notes-list">
        <% @notes.each do |note| %>
          <%= render 'note_card', note: note %>
        <% end %>
      </div>
    </div>
  </div>
</div>
