<div class='conteiner'>
  <div class='row justify-content-md-center'>
    <div class='col-sm-4'>
	<h2>Trocar Senha <%= resource_name.to_s.humanize %></h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="field  form-group">
	    <%= f.label 'Usuário' %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
	  </div>

	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>

	  <div class="field form-group">
	    <%= f.label 'Senha' %> <i>(leave blank if you don't want to change it)</i><br />
	    <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
	    <% if @minimum_password_length %>
	      <br />
	      <em><%= @minimum_password_length %> characters minimum</em>
	    <% end %>
	  </div>

	  <div class="field form-group">
	    <%= f.label 'Confirmar Senha' %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
	  </div>

	  <div class="field form-group">
	    <%= f.label 'Senha Atual' %> <i>(we need your current password to confirm your changes)</i><br />
	    <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control' %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Cadastrar", class: 'btn btn-success' %>
            <%= link_to "Back", :back, class: 'btn btn-danger' %>
	  </div>
	<% end %>
      </did>
    </did>
</did>
