<div class='conteiner'>
  <div class='row justify-content-md-center'>
    <div class='col-sm-4 card'>
      <h2>Cadastrar</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label 'Usuiário' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label 'Senha' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label 'Confirmar senha' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Cadastrar", class: 'btn btn-success' %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
