<div class='conteiner'>
  <div class='row justify-content-md-center'>
    <div class='col-sm-4 card'>
	<h2>Entrar</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="field form-group">
	    <%= f.label 'Usuario' %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
	  </div>

	  <div class="field form-group">
	    <%= f.label 'Senha'%><br />
	    <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
	  </div>

	  <% if devise_mapping.rememberable? %>
	    <div class="field form-group">
	      <%= f.check_box :remember_me %>
	      <%= f.label :remember_me %>
	    </div>
	  <% end %>

	  <div class="actions">
	    <%= f.submit "Login", class: 'btn btn-success' %>
	    <%= render "devise/shared/links" %>
	  </div>
	<% end %>

    </div>
  </div>
</div>
